<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<style>

    .counter {
        background-color: #f5f5f5;
        padding: 20px 0;
        border-radius: 5px;
    }

    .count-title {
        font-size: 40px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .count-text {
        font-size: 13px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .fa-2x {
        margin: 0 auto;
        float: none;
        display: table;
        color: #4ad1e5;
    }

    .seo-header, .product-header, .intro-type .container h1.white, .company-heading

    .parallax {
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index: -10;
        bb
    }

    .ct-btn-scroll {
        width: 49px;
        height: 49px;
        position: absolute;
        bottom: 25%;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 50px;
        z-index: 9;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
    }

    img, figure {
        max-width: 100%;
    }
</style>

<script language="JavaScript">
<!--hide

var password;
    var pass1 = "hdplease";
    var passFlag = false;

password=prompt('Please enter your password to view this page!','');

    if (password == pass1) {
        
    } else {
        alert('enter correct password');
        window.location = "https://wildhomelearn.ml";
    }


//-->
</script>

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover"  data-stellar-background-ratio="0.5" style="background-image: url('../Content/images/boys.jpg')">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h2 text-red">Welcome To Wild-HomeLearn</span>
                    <p><a href="#" class="text-yellow">Home </a></p>
                </div>
                <a class="ct-btn-scroll ct-js-btn-scroll" href="#sec1"><img alt="Arrow Down Icon" src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png"></a>

            </div>
        </div>
    </div>
</div>
<div class="site-section py-5 bg-warning" id="sec1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex">
                <h2 class="text-white m-0">Hey Kids  <small>- Do you secretly want to  check your knowledge about wildlife?</small></h2>
                <p><a href="@Url.Action("TestYourKnowledge")" class="btn btn-primary btn-custom-1 mt-4">Do it..</a></p>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-info">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h1 class="text-white">Things you're looking for are here...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/pawprint.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Animals Around Me !</h3>
                    <p> Lets's check which animals are around me.  </p>
                    <p><a href="@Url.Action("Index", "wildlife_locations")" class="btn btn-primary btn-custom-1 mt-4">Lets Explore!!</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/australia.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Explore Wild-Animals</h3>
                    <p>Let's explore more about wild animals. Search on!</p>
                    <p><a href="@Url.Action("Index", "Animals1")" class="btn btn-primary btn-custom-1 mt-4">Lets Explore!!</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/birds.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">How animals Migrate?</h3>
                    <p>Wondering how animals migrate? Lets find out!!</p>
                    <p><a  class="btn btn-primary btn-custom-1 mt-4" disable>Lets Explore!!</a></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/search.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Interesting Facts</h3>
                    <p> Learn some cool and interesting facts about wildlife.</p>
                    <p><a href="@Url.Action("InterestingFacts")" class="btn btn-primary btn-custom-1 mt-4">Lets Explore!!</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/forest.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Where to go Zoo, Forest or Park</h3>
                    <p>Confused? Can't decide where to go for wild animal lookout?</p>
                    <p><a href="@Url.Action("WhereTo")" class="btn btn-primary btn-custom-1 mt-4">Lets Explore!!</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="~/Content/images/flaticon/svg/camping-tent.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Want to learn "CAMPING?"</h3>
                    <p>Do you want to experience and learn camping?</p>
                    <p><a  class="btn btn-primary btn-custom-1 mt-4" disable>Lets Explore!!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-warning">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-cursive h5 text-red d-block">Most Searched Animals By - Our Wild Kids</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="testimonial-3-wrap">

                    <div class="owl-carousel nonloop-block-13">
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/koalas.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Koala</h3>
                                <p>Due to Koala's cuteness its the most searched animal on our website.</p>
                            </div>
                        </div>
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/animals/Quokka.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Quokka</h3>
                                <p>Always smiling....Its the second most searched animal on WildHomeLearn</p>
                            </div>
                        </div>
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/animals/kangaroo.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Kangaroo</h3>
                                <p>Lets do HOP! HOP!...being the native animal of Australia, its the third most searced animal around here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="block-2 red">
                    <span class="wrap-icon">
                        <span class="icon-child"></span>
                    </span>
                    <h2>Wild Kids</h2>
                    <p>By analyzing children's preferences and learning characteristics, we designed interactive teaching models that are attractive to children. Children's attention is captured by video to study and learn about Australian wildlife, and the learning results are detected by interactive game mode to ensure the quality of children's learning.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-2 yellow">
                    <span class="wrap-icon">
                        <span class="icon-paw"></span>
                    </span>
                    <h2>Wild Learn</h2>
                    <p>Wild HomeLearn is a non-profit online learning platform focusing on Australian ecosystems. We are committed to helping people learn about Australia's wildlife through our free policy. We focus on helping children living in Australia learn about their native wild animals and camping. Therefore we ensure the best qualit of knowledge to you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-cursive h5 text-red d-block">Lets look how many animals actually are their in Australia..</span>
                <h2 class="text-black">What numbers says? Lets find out..*</h2>
                <p class="text-dark">*Real numbers coming soon(Demo version)</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text ">Number of species</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count-text ">Hectares of area</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-sort-numeric-asc fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
                    <p class="count-text ">Total animals</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                    <p class="count-text ">Number of wildlife places</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("a").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });
    });

    (function ($) {
        $.fn.countTo = function (options) {
            options = options || {};

            return $(this).each(function () {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from: $(this).data('from'),
                    to: $(this).data('to'),
                    speed: $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals: $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof (settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof (settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,               // the number the element should start at
            to: 0,                 // the number the element should end at
            speed: 1000,           // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,           // the number of decimal places to show
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value.toFixed(settings.decimals);
        }
    }(jQuery));

    jQuery(function ($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
            formatter: function (value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

