@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .containers .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

        .containers .btn:hover {
            background-color: black;
        }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Kids Section
            <small>Learn more about wildlife</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">Kids</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/kidstudy.jpg" class="img-responsive">
    </div>
</div>

<hr>


<div class=" text-center">
    <div class="container">
        <div class="col-lg-12" align="center">
            <h3>Search...<small>for Wild-Animals</small></h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<hr>
<div class="containers" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("AnimalsAroundMe")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Animals Around Me !</button>
            </a>
        </div>

        <div class="col-md-6" align="left">
            <a href="@Url.Action("Kids")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Looking for Wild-Animals?</button>
            </a>
        </div>
       

    </div>
    <!-- /.row -->
</div>
<hr>

<div class="containers" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("AnimalsAroundMe")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Wondering how animals Migrate?</button>
            </a>
        </div>

        <div class="col-md-6" align="left">
            <a href="@Url.Action("Kids")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Interesting Facts</button>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>

<hr>

<div class="containers" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("AnimalsAroundMe")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Where to go now? Zoo, Forest or Park?</button>
            </a>
        </div>

        <div class="col-md-6" align="left">
            <a href="@Url.Action("Kids")">
                <img class="img-responsive" src="~/Content/kids.jpg">
                <button class="btn">Want to learn "CAMPING?"</button>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
