@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")

<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
    .containers .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #772953;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

        .containers .btn:hover {
            background-color: black;
        }
</style>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<script>
    $(document).ready(function () {
            $('#animalSearch').autocomplete({
                source: '@Url.Action("Search", "Animals")'
            });
        });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Kids Section
                <small>Learn more about wildlife</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Kids</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <img src="~/Content/kidstudy.jpg" class="img-responsive">
        <hr>
    </div>
</div>



@*<div class=" text-center">
        <div class="container">
            <div class="col-lg-12" align="center">
                <h3>Search...<small>for Wild-Animals</small></h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>*@

<div class=" text-center">
    <div class="container">
        <div class="col-lg-12">
            <!--Make sure the form has the autocomplete function switched off:-->
            @using (Html.BeginForm("Details", "Animals", FormMethod.Post))
            {
                <div class="autocomplete" style="width:300px;">
                    <input id="animalSearch" type="text" name="animalName" placeholder="ex. Koala..">
                </div>
                <input type="submit">
                <br /><br />
                @*@ViewBag.Message*@
            }
            <hr>
        </div>
    </div>
</div>

<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Hey Kids <small>- Do you want to secretly check your knowledge about wildlife?</small></h1>
                <h2>Just Click the button below..</h2>
                <input type="button" value="Click here!" class="btn btn-primary" onclick="location.href='@Url.Action("TestYourKnowledge", "Home")'" />

                <hr>
            </div>
        </div>
    </div>
</div>

<div class="section-colored text-center" style="padding: 0px;">

    <div class="row">
        <div class="col-lg-12">
            <h1>Checkout the learnings below <small>- specially made it just for you...</small></h1>
        </div>
    </div>

</div>

<div class="containers container" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("AnimalsAroundMe")">
                <img class="img-responsive" src="~/Content/mapim.jpg">
                <button class="btn">Animals Around Me !</button>
            </a>
            <h3></h3>
        </div>
        <div class="col-md-6" align="left">
            <a href="@Url.Action("ExploreSearch")">
                <img class="img-responsive" src="~/Content/bino.jpg">
                <button class="btn">Expolore Wild-Animals</button>
            </a>
            <h3></h3>
        </div>
    </div>
    <hr>
</div>


<div class="containers container" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("AnimalsAroundMe")">
                <img class="img-responsive" src="~/Content/migrate.jpg">
                <button class="btn">Wondering how animals Migrate?</button>
            </a>
            <h3></h3>
        </div>

        <div class="col-md-6" align="left">
            <a href="@Url.Action("InterestingFacts")">
                <img class="img-responsive" src="~/Content/mag.jpg">
                <button class="btn">Interesting Facts</button>
            </a>
            <h3></h3>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>

<div class="containers container" align="center">
    <div class="row">
        <div class="col-md-6" align="left">
            <a href="@Url.Action("WhereTo")">
                <img class="img-responsive" src="~/Content/zoo.jpg">
                <button class="btn">Where to go now? Zoo, Forest or Park?</button>
            </a>
            <h3></h3>
        </div>

        <div class="col-md-6" align="left">
            <a href="@Url.Action("Kids")">
                <img class="img-responsive" src="~/Content/camp.jpg">
                <button class="btn">Want to learn "CAMPING?"</button>
            </a>
            <h3></h3>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


<script>
    var btn = $('#button12');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });

</script>