@model HomeWildLearn.Models.Animal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <button type="button" onclick="location.href='@Url.Action("ExportPDF","Animals", new {id = "id"}).Replace("id", Model.animal_id.ToString())'" class="btn btn-primary" align="center">Export as PDF</button>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.animal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal_name)
        </dd>
    </dl>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.animal_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
