@model IEnumerable<HomeWildLearn.Models.Animal>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<style>

    .layout-margin-8 {
        margin: 3% 8%;
    }

    .card-img-top-custom {
        width: 50%;
        margin: 0 auto;
    }

    .card-title {
        text-align: center;
    }

    .card-shadow {
        -webkit-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
        -moz-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
        box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
    }

    .card-deck {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
    }

    .card {
        padding: 3% 1.5%;
        border: none;
        max-width: 375px;
        flex-grow: 1;
    }

    @@media (min-width: 768px) {
        .form-control {
            width: 500px !important;
            height: 50px;
        }
    }

    .bg-blue {
        background-color: #005EB8;
    }

    .seo-header, .product-header, .intro-type .container h1.white, .company-heading

    .parallax {
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index: -10;
        bb
    }

    .ct-btn-scroll {
        width: 49px;
        height: 49px;
        position: absolute;
        bottom: 25%;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 50px;
        z-index: 9;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
    }

    img, figure {
        max-width: 100%;
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../Content/images/koalas.jpg')">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h2 text-red">Welcome To Wild-HomeLearn</span>
                    <p><a href="#" class="text-yellow">Explore and Search wild life animals</a></p>
                    <p><a href="#" class="text-white">Home</a> <span class="mx-0">/</span> <strong>Explore wildlife </strong></p>
                </div>
                <a class="ct-btn-scroll ct-js-btn-scroll" href="#sec1"><img alt="Arrow Down Icon" src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png"  ></a>            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-light justify-content-center mt-4">
    <form class="form-inline">
        <!-- textbox for search -->
        <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Filter by name" aria-label="Search" id="search" onkeyup="myFunction()">
        <!-- Sort dropdown-->
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg mr-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="btnSort1">Sort</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="btnSortAsc">Sort By Name (A to Z)</a>
                <a class="dropdown-item" id="btnSortDesc">Sort By Name (Z to A)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="btnSortAscType">Sort By Type (A to Z)</a>
                <a class="dropdown-item" id="btnSortDescType">Sort By Type (Z to A)</a>
            </div>
        </div>
    </form>
</nav>
<div class="row align-items-center justify-content-center">
    What kind of animals do you wanna see?
    <div class="checkbox mx-1 pt-3">
        <label><input type="checkbox" value="Mammal" data-filter-type="class">Mammal</label>
    </div>
    <div class="checkbox mx-1 pt-3">
        <label><input type="checkbox" value="Bird" data-filter-type="class">Bird</label>
    </div>
</div>
<!--Animal Cards -->
<div class="layout-margin-8 mt-4">
    <div class="card-deck" id="myAnimals">

        @{
            //This code block to neatly arrange cards
            int test = 0;

            foreach (var item in Model)
            {
                if (test % 5 == 0)
                {
                    <div class="w-100 d-none d-xl-block">
                    </div>
                    <div class="card card-shadow text-center col-md-3 mb-4" data-class="@Html.DisplayFor(modelItem => item.animal_class)">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.animal_explore_image)" alt="Card image cap" style="width:215px; height:144px;">                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.animal_name)</h4>
                            <p class="card-text animal-type">Type: @Html.DisplayFor(modelItem => item.animal_class)</p>
                            <div class="dropdown-divider"></div>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>
                            <a href="#">
                                @Html.ActionLink("More About me!", "Details", "wildlife_details", new { id = item.animal_id }, new { @class = "btn btn-primary btn-sm" })

                            </a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="card card-shadow text-center col-md-3 mb-4" data-class="@Html.DisplayFor(modelItem => item.animal_class)" style="width: 18rem;">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.animal_explore_image)" alt="Card image cap" style="width:215px; height:144px;">
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.animal_name)</h4>
                            <p class="card-text animal-type">Type: @Html.DisplayFor(modelItem => item.animal_class)</p>
                            <div class="dropdown-divider"></div>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>
                            <a href="#">
                                @Html.ActionLink("More About me!", "Details", "wildlife_details", new { id = item.animal_id }, new { @class = "btn btn-primary btn-sm" })
                            </a>
                        </div>
                    </div>
                }

                test++;
            }
        }
    </div>
</div>


<div class="site-section bg-warning">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-cursive h5 text-red d-block">Most Searched Animals By - Our Wild Kids</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="testimonial-3-wrap">

                    <div class="owl-carousel nonloop-block-13">
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/koalas.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Koala</h3>
                                <p>Due to Koala's cuteness its the most searched animal on our website.</p>
                            </div>
                        </div>
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/animals/Quokka.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Quokka</h3>
                                <p>Always smiling....Its the second most searched animal on WildHomeLearn</p>
                            </div>
                        </div>
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="~/Content/images/animals/kangaroo.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Kangaroo</h3>
                                <p>Lets do HOP! HOP!...being the native animal of Australia, its the third most searced animal around here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //function to filter case-insensitive
    function myFunction() {
        console.log("Hello");
        var input, filter, cards, cardContainer, h4, title, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myAnimals");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body h4.card-title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
    $(document).ready(function () {
        //$('#search').keyup(function () {
        //    $('.card').removeClass('d-none');
        //    var filter = $(this).val(); // get the value of the input, which we filter on
        //    $('.card-deck').find('.card .card-body h4:not(:contains("' + filter + '"))').parent().parent().addClass('d-none');
        //})
        //filter based on checkbox
        $('input[type="checkbox"]').click(function () {
            console.log("Hello");
            var $checked = $('input[type="checkbox"]:checked');
            var $items = $('.card');
            if ($checked.length > 0) {
                $('.card').hide();
                $checked.each(function () {
                    $('.card[data-class=' + this.value + ']').show();
                });
            } else {
                $('.card').show();
            }
        });
        // To sort by name in Ascending order
        $('#btnSortAsc').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                return $(a).find(".card-title").text() > $(b).find(".card-title").text() ? 1 : -1;
            }).appendTo(".card-deck");
        });
        // To sort by name in Descending order
        $('#btnSortDesc').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                return $(a).find(".card-title").text() < $(b).find(".card-title").text() ? 1 : -1;
            }).appendTo(".card-deck");
        });
        // To sort by type in Ascending order
        $('#btnSortAscType').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                return $(a).find(".animal-type").text() > $(b).find(".animal-type").text() ? 1 : -1;
            }).appendTo(".card-deck");
        });
        // To sort by type in Descending order
        $('#btnSortDescType').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                return $(a).find(".animal-type").text() < $(b).find(".animal-type").text() ? 1 : -1;
            }).appendTo(".card-deck");
        });
    });
</script>