@model HomeWildLearn.Models.wildlife_details

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>wildlife_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fact_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Sound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Sound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_Main)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_Main)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Image_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Image_5)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
