<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wild-HomeLearn</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @*<link href="@Url.Content("/lib/font-awesome/css/fontawesome.css")" rel="stylesheet">*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wild-HomeLearn", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                    <li>
                        @Html.ActionLink("Kids", "kids", "Home")
                    </li>
                    <li id="blog" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PlayField <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="bloghome1">
                                @Html.ActionLink("Animals Around Me!", "AnimalsAroundMe", "Home")
                            </li>
                            <li id="bloghome2">
                                @Html.ActionLink("Explore Wild-Animals", "Explore", "Home")
                            </li>
                            <li id="bloghome3">
                                @Html.ActionLink("Wondering how animals Migrate?", "Home2", "Blog")
                            </li>
                            <li id="bloghome4">
                                @Html.ActionLink("Interesting Facts", "Home2", "Blog")
                            </li>
                            <li id="bloghome5">
                                @Html.ActionLink("Where to go now? Zoo, forest or park?", "Home2", "Blog")
                            </li>
                            <li id="bloghome6">
                                @Html.ActionLink("Want to Learn Camping?", "Home2", "Blog")
                            </li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Parents", "Parents", "Home")
                    </li>
                    @*<li>
                        @Html.ActionLink("Find WildLife", "AnimalsAroundMe", "Home")
                    </li>*@
                    <li>
                        @Html.ActionLink("What's new", "Whatsnew", "Home")
                    </li>
                    <li id="about">
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li id="blog" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="bloghome1">
                                @Html.ActionLink("English", "Home1", "Blog")
                            </li>
                            <li id="bloghome2">
                                @Html.ActionLink("Spanish", "Home2", "Blog")
                            </li>
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>                
            </div>
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy;  @DateTime.Now.Year - Wild-HomeLearn &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
